body { /*body edits an existing tag*/
    background-color: #ffc0cb;
    color: #e66379;
}

.char_image { /*creates a class*/
    max-width: 20vmax;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
}

.gen {
    padding: 2vmax 6vmax;
    background-color: #c2e6fd;
    border: 1vmax solid #fff;
    outline: none;
    border-radius: 4vmax;
    box-shadow: 0 0 4vmax #86cdff ;
    font-size: 4vmax;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}