<!DOCTYPE html>

<head>
    <title> Temporary </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('pathRoute', file='next.css')}}"/>
</head>

<body>
    <div class="center"><h1> This is the next page </h1></div>
    <div class="center"><p> fill this in later </p></div>
    <div class="center"><img id="chosen" class="char_image" style="visibility:hidden"></div>
    <div class="center"><button onclick="generate();" class="gen">Generate</button></div>
    <script src="{{url_for('pathRoute', file='script.js')}}"></script>
</body>

</html>