body { /*body edits an existing tag*/
    background-color: #afdfff;
    color: rgb(55, 106, 177);
    min-height: 100vh;
}

.cinna{ /*creates a class*/
    width: 10vmax; /*vmax scales based on screen size (which is better than pixels which is fixed)*/
}


/*CITE: https://youtu.be/Fw3jE0tWn28 for button stuff*/
.start {
    padding: 2vmax 6vmax;
    background-color: #c2e6fd;
    border: 1vmax solid #fff;
    outline: none;
    border-radius: 4vmax;
    box-shadow: 0 0 4vmax #86cdff ;
    font-size: 4vmax;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
}

.start:hover{
    background-color: #ffc0cb;
}
