{% extends 'base.html' %}

{% block content %}
    <style>
    body {
          background-image: url('static/style_images/library.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
    <script type="text/javascript">socketio.emit("retrieve_open_listings");</script>
    <script type="text/javascript">setInterval(function (){socketio.emit("update_listings");}, 1);</script>
    <div class="gallery" id="gallery_div_list">
    </div>
{% endblock %}