<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewRome</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', file='client/functions.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', file='style/style.css')}}"/>
</head>
<body>
    <!--    NAV BAR     -->
    <div class="navbar">
      <a href="http://127.0.0.1:8080/">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Auctions
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <!--    UPDATE LINKS FOR DEPLOYMENT     -->
          <a href="http://127.0.0.1:8080/auctions_create">Auctions Create</a>
          <a href="http://127.0.0.1:8080/auctions_list">Auctions Market</a>
          <a href="http://127.0.0.1:8080/auctions_won">Auctions Won</a>
        </div>
      </div>
      <!--AUDIO-->
      <audio controls autoplay loop>
        <source src="/static/client_audio/journey.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <div class="navbar-right">
        <a href="http://127.0.0.1:8080/dark_web"></a>
        <a href ="http://127.0.0.1:8080/account">Logged in as {{display_name}}</a>
      </div>
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>